/* SMALL SCREEN HEADER SECTION */
.small_screen_header {
    position: fixed;
    top: 0;
    left: 0;
    height: 58px;
    width: 100%;
    background-color: white;
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.398);
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    z-index: 4;
}

.small_screen_header .menu_icon_container {
    width: 20%;
    display: flex;
}

.small_screen_header .menu_icon {
    font-size: 25px;
}

.small_screen_header .header_logo {
    height: 38px;
    width: auto;
    justify-self: center;
}

.small_screen_header .header_bag_container {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.small_screen_header .header_bag_container .user_icon {
    margin-left: 10%;
    font-size: 25px;
}

/* BIG SCREEN HEADER SECTION */
.big_screen_header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: white;
    display: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.398);
    align-items: center;
    justify-content: space-between;
    padding: 0 6%;
    z-index: 3;
}

@media (min-width: 1020px) {
    .small_screen_header {
        display: none;
    }

    .big_screen_header {
        display: flex;
    }
}

.big_screen_header .header_logo {
    height: 38px;
    width: auto;
    justify-self: center;
    cursor: pointer;
}

.big_screen_header .header_navlinks_container {
    list-style: none;
    width: 600px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: #636366;
    font-family: Lato, sans-serif;
}

.big_screen_header .header_icons_container {
    font-size: 25px;
    display: flex;
    width: 10%;
    justify-content: space-between;
}

.big_screen_header .header_icons_container .user_icon {
    cursor: pointer;
}

/* SIDE NAVBAR SECTION */
.mask_background {
    width: 100%;
    height: 100vh;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.676);
    position: relative;
}

.mask_background .x_mark {
    position: absolute;
    top: 5px;
    right:5px;
    font-size: 40px;
    color: #dbdbdb;
    z-index: 6;
}   

.hidden_navbar_container {
    width: 85%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 100vh;
    z-index: 6;     
}

.hidden_navlinks {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    height: fit-content;
    margin-bottom: 40px;
}

.hidden_navlinks li {
    display: flex;
    text-decoration: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.398);
    height: 45px;
    align-items: center;
    padding: 0 10%;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #1C1C1E;
}

.navbar_contact_container {
    font-family: Lato, sans-serif;
    color: #1C1C1E;
    padding: 0 10%;
    list-style: none;
}

.navbar_contact_container li {
    height: 40px;

}

.navbar_contact_container .phone_icon {
    color: #636366;
    font-size: 14px;
    margin-right: 20px;
}

.navbar_contact_container .contact_link {
    color: #636366;
    font-size: 14px;
}

/* BAG COUNTER */
.bag_counter_container {
    position: relative;
}

.bag_counter_container .bag_counter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: royalblue;
    color: white;
    font-size: 13px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    right: -8px;
    top: -8px;

}

