/* MAIN BANNER SECTION */
.banner_container {
    margin-top: 58px;
    position: relative;
}

.banner_container .image {
    width: 600px;
    height: auto;
}

@media (min-width: 600px) {
    .banner_container .image {
        width: 100%;
    }
}

.banner_container .banner_text_container {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: white;
    font-family: Lato, sans-serif;
}

.banner_text_container h3 {
    font-weight: 400;
}

.banner_text_container h1 {
    font-size: 40px;
}

@media (min-width: 1020px) {
    .banner_container {
        margin-top: 100px;
    }
}


/* FILTER AND SORT BUTTONS SECTION */
.buttons_container {
    display: flex;
    justify-content: center;
    column-gap: 3%;
    padding: 1% 3%;
}

.buttons_container select {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #636366;
    border: 1px solid #e0e0e0;
    height: 45px;
    cursor: pointer;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    font-size: 15px;

}

.product_quantity_text {
    display: none;
}

@media (min-width: 1000px) {
    .buttons_container {
        justify-content: flex-end;
        align-items: center;
    }

    .filter_button {
        display: none !important;
    }

    .product_quantity_text {
        display: flex;
        align-items: center;
        font-family: Lato, sans-serif;
        font-size: 12px;
    }

    .sort_button {
        width: 20% !important;
    }
}

/* PRODUCTS CONTAINER*/
.all_products_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3%;
    padding: 10px 3%;
    row-gap: 15px;
}

@media (min-width: 600px) {
    .all_products_container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* MEDIA QUERY TO SHOW THE FILTER COMPONENT*/
.big_screen_products_container {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 1000px) {
    .big_screen_products_container {
        grid-template-columns: .3fr 1fr;
        padding: 0 8%;
    }
}

.filter_section {
    display: none;
}

@media (min-width: 1000px) {
    .filter_section {
        display: flex;
        flex-direction: column;
    }
}



/* PRODUCTS DISPLAY SECTION*/
.product_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image_container {
    border-radius: 15px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.image {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.product_container h3 {
    width: 100%;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin: 5px 0;
}

.product_container h2 {
    width: 100%;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 700;
}



/* FILTER COMPONENT SECTION */

.filter_section h2 {
    padding: 15px 5%;
    font-weight: bold;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #1C1C1E;
    display: block;
    font-family: Lato, sans-serif;
    margin-bottom: 15px;
}

.list_container {
    padding: 0 5%;
    margin: 0;
    list-style: none;
}

.list_container li {
    font-family: Lato, sans-serif;
    font-size: 16px;
    color: #3A3A3C;
    margin-top: 20px;
    cursor: pointer;
}