.highlights_container {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

/* TEXT BANNER SECTION */
.text_banner {
    width: 100%;
    padding: 5%;
    color: #1C1C1E;
}

.text_banner h3 {
    font-family: Lato, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 7px;
}

.text_banner h2 {
    font-family: Lato, sans-serif;
    font-size: 22px;
    font-weight: 400;
}

/* IMAGES SECTION*/
.images_container {
    display: grid;
    width: 100%;
    justify-content: center;
    position: relative;
}


.image {
    width: 80vw;
    height:auto;
    border-radius: 6px;
}

.back_arrow {
    font-size: 40px;
    z-index: 3;
    position: absolute;
    top: 40%;
    left: 1%;
    cursor: pointer;
    color: #1C1C1E;
}

.foward_arrow {
    font-size: 40px;
    z-index: 3;
    position: absolute;
    top: 40%;
    right: 1%;
    cursor: pointer;
    color: #1C1C1E;
}

/* DESCRIPTION SECTION */ /* NAO TA ROLANDO */
.description_container {
    width: 100%;
    padding: 5% 10%;
}

.description_container h3 {
    font-family: Lato, sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 7px;
}

.description_container p {
    font-family: Lato, sans-serif;
    font-size: 14px;
    margin-bottom: 8px;
}

.description_container .see_more_link {
    cursor: pointer;
    text-decoration: underline;
    font-family: Lato, sans-serif;
    font-size: 14px;
}