.banner_container {
    width: 100vw;
    position: relative;
    overflow: hidden;
    height: fit-content;
    background-color: #3B3B3B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back_arrow {
    font-size: 50px;
    z-index: 3;
    color: rgba(219, 219, 219, 0.804);
    position: absolute;
    top: 70%;
    left: 5%;
    cursor: pointer;
}

.foward_arrow {
    font-size: 50px;
    z-index: 3;
    color: rgba(219, 219, 219, 0.804);
    position: absolute;
    top: 70%;
    right: 5%;
    cursor: pointer;
}

.banner_text {
    position: absolute;
    color: white;
    top: 10%;
    left: 10%;
    font-family: Lato, sans-serif;
}

.image {
    cursor: pointer;
    width: 100vw;
    height: auto;
}

@media (min-width: 768px) {
    .banner_container {
        max-height: 500px;
        overflow: hidden;
    }
}

/* CSS */
.button_28 {
    border: 1px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 10px 0;
    width: 150px;
    height: 35px;
}