/* MAIN BANNER SECTION */
.banner_container {
    margin-top: 58px;
    position: relative;
}

.banner_container .image {
    width: 600px;
    height: auto;
}

.banner_container .banner_text_container {
    position: absolute;
    bottom: 20%;
    left: 5%;
    color: black;
    font-family: Lato, sans-serif;
}

.banner_text_container h1 {
    font-size: 40px;
}

@media (min-width: 600px) {
    .banner_container .image {
        width: 100%;
    }

    .banner_text_container h1 {
        font-size: 50px;
    }
}

@media (min-width: 1020px) {
    .banner_container {
        margin-top: 100px;
    }
}

/* ABOUT US TEXT BANNER SECTION */
.text_banner_container {
    text-align: center;
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
    font-family: Lato, sans-serif;
    line-height: 20px;

}

.text_banner_container h2 {
    margin-bottom: 15px;
}

.text_banner_container p {
    font-size: 14px;
}

.division_bar {
    height: 1px;
    width: 90%;
    background-color: gray;
    align-self: center;
    margin: 30px;
}

.text_banner_information_containers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.text_banner_information_containers .information_container {
    margin-bottom: 40px;
    width: 300px;
}

.text_banner_container .text_banner_icon {
    font-size: 40px;
    margin-bottom: 10px;
    color:#5881CA;
}

.paragraph_title {
    font-weight: 600;
    font-size: 16px !important;
    margin-bottom: 15px;
}

/* INFORMATION SECTION */
.information_section {
    padding: 0 5%;
}

.information_section .each_information_container {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.each_information_container .information_text_container {
    text-align: center;
    font-family: Lato, sans-serif;
    margin-bottom: 20px;
}

.information_text_container h3 {
    margin-bottom: 25px;
}

.information_text_container p {
    font-size: 14px;
    line-height: 20px;
}

.information_section_image {
    width: 100%;
    height: auto;
    max-width: 590px;
    align-self: center;
}

@media (min-width: 1000px) {
    .information_section .each_information_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .information_text_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 8%;
    }

    .information_text_container h3 {
        font-size: 30px;
    }
}

