.product_page {
    margin-top: 58px;
    color: #1C1C1E;
}

.main_product_container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 700px) {
    .main_product_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1020px) {
    .product_page {
        margin-top: 100px;
    }

    .main_product_container {
        padding: 20px 5%;
    }
}

.main_image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.main_text_container {
    padding: 2%;
    font-family: Lato, sans-serif;
    display: flex;
    flex-direction: column;
}

.product_info_container {
    padding: 5%;

}

.main_text_container .product_name {
    font-size: 16px;
    color: #1C1C1E;
    letter-spacing: 0.04em;
    line-height: 140%;
    font-weight: 400;
    margin-bottom: 10px;
}

.main_text_container .product_price {
    font-size: 18px;
    color: #1C1C1E;
    letter-spacing: 0.04em;
    line-height: 140%;
    font-weight: 600;
}

/* COLOR DISPLAY SECTION */
.color_display_label {
    margin: 15px 0;
    font-weight: 400;
    font-size: 14px;
}

.color_display_container {
    display: flex;
    column-gap: 10px;
    margin-bottom: 20px;
}

.color_display_mask {
    background-color: rgba(255, 255, 255, 0.625);
    border: 1px solid black;
    z-index: 2;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 2px 5px rgb(255, 255, 255);
}

.color_display {
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    cursor: pointer;
    box-shadow: 0px 0px 2px .5px rgba(0, 0, 0, 0.424);   
}

/* BUTTON ADD TO BAG SECTION */
.add_to_bag_button {
    font-size: 16px;
    color: #FFF;
    background-color: #5881CA;
    width: 100%;
    height: 45px;
    padding: 12px 10px;
    border-radius: 6px;
    line-height: 1;
    letter-spacing: 0.04em;
    text-align: center;
    border: none;
    cursor: pointer;
}

/* DIVIDE BAR */
.bar {
    height: 1.5px;
    width: 80%;
    background-color: #8b8b8b;
    align-self: center;
    justify-self: center;
    margin: 30px 0;
}

/* PRODUCT DESCRIPTION */
.product_description_container {
    padding: 5%;
}

.product_description_container h3 {
    margin-bottom: 15px;
}

/* MOBILE RELATED PRODUCTS SECTION */
.mobile_related_products_label_container {
    font-family: Lato, sans-serif;
    padding: 0 7%;
    margin: 30px 0;
}

.mobile_related_products_label_container h3 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    color:#1C1C1E
}

.mobile_related_products_label_container h2 {
    font-weight: 400;
    font-size: 18px;
}

.mobile_related_products_section .all_products_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4%;
    position: relative;
    padding: 0 10%;
}

.mobile_related_products_section .back_arrow {
    position: absolute;
    top: 40%;
    left: 0;
    font-size: 40px;
}

.mobile_related_products_section .foward_arrow {
    position: absolute;
    top: 40%;
    right: 0;
    font-size: 40px;
}

.mobile_related_products_section .product_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile_related_products_section .image_container {
    border-radius: 15px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.mobile_related_products_section .image {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mobile_related_products_section .product_container h3 {
    width: 100%;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 5px;
}

.mobile_related_products_section .product_container h2 {
    width: 100%;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 700;
}

/* LAPTOP RELATED PRODUCTS */
.laptop_related_products_label_container {
    font-family: Lato, sans-serif;
    padding: 0 7%;
    margin: 30px 0;
}

.laptop_related_products_label_container h3 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    color:#1C1C1E
}

.laptop_related_products_label_container h2 {
    font-weight: 400;
    font-size: 18px;
}

.laptop_related_products_section .all_products_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4%;
    position: relative;
    padding: 0 10%;
}

.laptop_related_products_section .back_arrow {
    position: absolute;
    top: 40%;
    left: 0;
    font-size: 40px;
}

.laptop_related_products_section .foward_arrow {
    position: absolute;
    top: 40%;
    right: 0;
    font-size: 40px;
}

.laptop_related_products_section .product_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.laptop_related_products_section .image_container {
    border-radius: 15px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.laptop_related_products_section .image {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.laptop_related_products_section .product_container h3 {
    width: 100%;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 5px;
}

.laptop_related_products_section .product_container h2 {
    width: 100%;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 700;
}